@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #25282b49;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #25282ba4;
}

body{
    @apply bg-secondary text-white
}
a{
    @apply text-white hover:text-primary/80 duration-300
}
input,
textarea,
select {
    @apply focus:outline-none focus:border-secondary focus-visible:outline-none focus-visible:border-primary focus:placeholder:text-transparent;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid rgba(255, 255, 255, 0.4);
    border-top-color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
